:root {
    --primary: #4a90e2;
    --bg: #f4f7f6;
    --text: #333;
    --success: #27ae60;
    --error: #e74c3c;
}

body {
    font-family: 'Segoe UI', sans-serif;
    background-color: var(--bg);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#quiz-container{
    background: rgb(22,183,148);
    width: 90%;
    max-width: 500px;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

.header-meta {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    font-weight: bold;
    color: var(--primary);
}

#progress-bar-container {
    width: 100%;
    height: 8px;
    background: #eee;
    border-radius: 4px;
    margin-bottom: 1.5rem;
    overflow: hidden;
}

#progress-bar {
    height: 100%;
    width: 0%;
    background: var(--primary);
    transition: width 0.3s ease;
}

.btn-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    margin-top: 20px;
}

button {
    padding: 12px;
    border: 1px solid var(--primary);
    background: white;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1rem;
}

button:hover { background: #f0f7ff; }

button.correct { 
    background-color: var(--success) !important; 
    color: white; 
}

button.wrong { 
    background-color: var(--error) !important; 
    color: white; 
}

.hide { display: none; }
